.Voorbeeld {color: #0e1c1c;
}
img {
    border-radius: 50%;
}
.Educatie {
    border-style: solid;
}
.Deur {
    text-align: right;
}

.move1
{
text-align: left;
    border-left-width: 1px;
    margin-top: 120px;
}



